@font-face {
    font-family: Lora;
    src: url("../fonts/Lora-VariableFont_wght.ttf");
}

body {
    margin: 0;
    font-family: Lora;
}

header >  h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav {
    text-align: center;
}

nav > ul li {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
    font-size: 1.2rem;
}

#menu a:link {
    color: rgb(63, 63, 63);
}

#menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#menu li a {
    background-color: rgb(255, 227, 203);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

#menu li a:hover {
    background-color: rgba(245, 199, 209, 0.945);
}

#menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

#menu li:hover > ul {
    display:block;
}

#menu li ul li ul {
    right:-140px;
    top:0px;
}

.elemento {
    width: 200px;
    align-content: space-around;
    font-size: 16px;
    border-radius: 5px 30px 45px 60px;
    background-color: rgba(255, 218, 185, 0.507);
    margin: 10px;
    padding: 30px;

}

.elemento a:link {
    color: rgba(248, 140, 163, 0.945);
}

hr {
    border: none; 
    height: 2px;
    color: peachpuff;
    background-color: peachpuff;
}

#def {
    display: inline-block;
    margin: 50px 200px 10px 250px;
    font-size: 18px;
}

#general-content {
    margin: 50px 200px 400px 300px;
    height: 230px;
    display:flex;
    flex-wrap: wrap;
}

.elemento a:hover {
    background-color: #e5aff596;
}

#leyes-ampliadas {
    margin-top: 720px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#leyes-ampliadas > div {
    margin-left: 200px;
    padding: 10px;
    width: 1100px;
}

.img {
    text-align: center;
}

footer {
    font-size: 17px;
    margin: 120px 80px 20px 80px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

footer > address > a:link {
    font-style: normal;
    text-decoration: none;
    color: rgba(248, 140, 163, 0.945);
}
